h1{
    color: #191970;
}

#id1{
    background-color: #888;
}

.class1{
    background-color: #1488;
}

a{
    background-color:  #629;;
}

.class2.class3{
    background-color: #515;
}

.class2.class3 p{
    background-color: #199619;
}

.class6{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 480px;

    margin-top: 200px;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.class3{
    margin: 100px 100px 100px 200px;
}

a:link{
    color: red; /*základní barva odkazu*/
}

a:visited{
    color: blue;
}

a:hover{
    color: green; /*když na odkaz najedu myší*/
}

a:active{
    color: hotpink; /*když odkaz zmáčknu*/
}

a{
    text-decoration: none;
}